In [1]:
import sys
import json
import pandas as pd

In [2]:
tweets_data_path = 'amz_review.json'

tweets_data = []
tweets_file = open(tweets_data_path, "r")

count = 0
for line in tweets_file:
    try:
        if (line == '\n'):      # skip empty lines
            continue
        count = count + 1
        tweet = json.loads(line)
        tweets_data.append(tweet)
        if count%10000 == 0:
            sys.stdout.write('.')
        if count%700000 == 0:
            sys.stdout.write('\n')
    except Exception as e:
        print(e)
        continue
print(f"\n{count} tweets read.")    # 1689188
tweets = pd.DataFrame()
tweets['reviwerID'] = list(map(lambda tweet: tweet.get('reviewerID', None), tweets_data))
tweets['productID'] = list(map(lambda tweet: tweet.get('asin', None), tweets_data))
tweets['reviewText'] = list(map(lambda tweet: tweet.get('reviewText', None), tweets_data))
tweets['rating'] = list(map(lambda tweet: tweet.get('overall', None), tweets_data))
tweets['summary'] = list(map(lambda tweet: tweet.get('summary', None), tweets_data))
tweets['helpful'] = list(map(lambda tweet: tweet.get('helpful', None), tweets_data))
tweets['unixTime'] = list(map(lambda tweet: tweet.get('unixReviewTime', None), tweets_data))
tweets['reviewTime'] = list(map(lambda tweet: tweet.get('reviewTime', None), tweets_data))


# tweets

# tweets.to_csv('data.csv',index=False)
# print("save csv completed")

......................................................................
......................................................................
............................
1689188 tweets read.

In [3]:
tweets.head()

,reviwerID,productID,reviewText,rating,summary,helpful,unixTime,reviewTime
0,067737,0528881469,We got this GPS for my husband who is an (OTR)...,5.0,Gotta have GPS!,"[0, 0]",1370131200,"06 2, 2013"
1,176236,0594451647,The cable is very wobbly and sometimes disconn...,2.0,Cheap proprietary scam,"[0, 0]",1398556800,"04 27, 2014"
2,094526,0594481813,It does 2A and charges a DEAD Nook in a few ho...,3.0,This is the oem charger you get with the nook hd+,"[0, 0]",1377907200,"08 31, 2013"
3,071584,0594451647,This adaptor is real easy to setup and use rig...,5.0,A Perfdect Nook HD+ hook up,"[0, 0]",1399161600,"05 4, 2014"
4,105796,0594451647,This adapter easily connects my Nook HD 7&#34;...,4.0,A nice easy to use accessory.,"[0, 0]",1405036800,"07 11, 2014"

In [5]:
tweets.to_csv('data.csv',index_label="id")
print("save csv completed")

save csv completed

In [4]:
from datetime import datetime
cnt=0
for time in tweets['unixTime']:
    ts = int(time)
    print(datetime.utcfromtimestamp(ts).strftime('%Y-%m-%d %H:%M:%S'))
    cnt+=1
    if(cnt == 50):
        break

2013-06-02 00:00:00
2014-04-27 00:00:00
2013-08-31 00:00:00
2014-05-04 00:00:00
2014-07-11 00:00:00
2014-07-12 00:00:00
2014-03-09 00:00:00
2013-09-18 00:00:00
2013-06-27 00:00:00
2014-05-05 00:00:00
2014-04-16 00:00:00
2010-08-30 00:00:00
2014-01-03 00:00:00
2013-05-25 00:00:00
2013-06-24 00:00:00
2013-05-18 00:00:00
2014-01-07 00:00:00
2013-05-12 00:00:00
2013-08-04 00:00:00
2013-02-21 00:00:00
2012-12-23 00:00:00
2014-04-07 00:00:00
2013-07-18 00:00:00
2012-11-25 00:00:00
2011-01-27 00:00:00
2010-11-20 00:00:00
2012-02-17 00:00:00
2014-02-27 00:00:00
2014-06-13 00:00:00
2011-07-12 00:00:00
2011-05-31 00:00:00
2013-02-17 00:00:00
2012-09-13 00:00:00
2012-12-10 00:00:00
2013-02-10 00:00:00
2013-07-12 00:00:00
2013-04-03 00:00:00
2011-12-23 00:00:00
2012-01-12 00:00:00
2011-12-16 00:00:00
2013-05-24 00:00:00
2014-01-02 00:00:00
2010-10-05 00:00:00
2014-01-22 00:00:00
2012-03-07 00:00:00
2012-02-07 00:00:00
2014-04-16 00:00:00
2013-09-27 00:00:00
2013-09-18 00:00:00
2011-06-01 00:00:00

In [6]:
tmp = pd.DataFrame()
tmp['help'] = tweets["helpful"]
tmp['help'] = tmp['help'].map(lambda x: ''.join(str(x)).lstrip('\[').rstrip('\]'))
tmp.head()

   help
0  0, 0
1  0, 0
2  0, 0
3  0, 0
4  0, 0

In [8]:
split_helpful = tmp["help"].str.split(",", n = 1, expand = False)
split_helpful
# tweets['helped'] = split_helpful[0].astype(int)
# tweets['sum_vote'] = split_helpful[1].astype(int)
# tweets.head()

0            [0,  0]
1            [0,  0]
2            [0,  0]
3            [0,  0]
4            [0,  0]
5            [0,  0]
6            [2,  2]
7            [3,  5]
8            [2,  2]
9            [0,  0]
10           [2,  2]
11           [3,  4]
12           [3,  3]
13           [0,  1]
14           [1,  1]
15           [0,  0]
16           [0,  0]
17           [0,  0]
18           [0,  0]
19           [7,  9]
20           [0,  0]
21           [0,  0]
22           [0,  0]
23           [0,  0]
24           [0,  0]
25           [0,  0]
26           [0,  0]
27           [0,  0]
28           [0,  0]
29           [0,  0]
             ...
1689158      [1,  1]
1689159      [1,  1]
1689160      [0,  0]
1689161    [10,  15]
1689162      [2,  2]
1689163      [3,  4]
1689164      [5,  8]
1689165     [7,  11]
1689166      [2,  4]
1689167      [2,  7]
1689168      [0,  0]
1689169      [3,  3]
1689170      [0,  1]
1689171      [1,  2]
1689172      [0,  3]
1689173      [0,  0]
1689174      [0,  0]
1689175     [5,  12]
1689176      [0,  0]
1689177      [2,  2]
1689178      [1,  2]
1689179      [1,  1]
1689180      [0,  0]
1689181      [0,  0]
1689182      [7,  9]
1689183      [0,  0]
1689184      [0,  0]
1689185      [0,  0]
1689186      [5,  8]
1689187    [18,  23]
Name: help, Length: 1689188, dtype: object

In [6]:
tweets['unhelped'] = tweets['sum_vote'] - tweets['helped']
# data[150:200]

In [7]:
tweets['sum_helped'] = tweets['helped'] - tweets['unhelped']
# data = data.drop(data['sum_vote'])
tweets.head()
# data[150:200]

,reviewText,rating,summary,helpful,helped,sum_vote,unhelped,sum_helped
0,We got this GPS for my husband who is an (OTR)...,5.0,Gotta have GPS!,"[0, 0]",0,0,0,0
1,The cable is very wobbly and sometimes disconn...,2.0,Cheap proprietary scam,"[0, 0]",0,0,0,0
2,It does 2A and charges a DEAD Nook in a few ho...,3.0,This is the oem charger you get with the nook hd+,"[0, 0]",0,0,0,0
3,This adaptor is real easy to setup and use rig...,5.0,A Perfdect Nook HD+ hook up,"[0, 0]",0,0,0,0
4,This adapter easily connects my Nook HD 7&#34;...,4.0,A nice easy to use accessory.,"[0, 0]",0,0,0,0

In [8]:
tweets = tweets.drop(columns=['sum_vote'])
tweets.head()

,reviewText,rating,summary,helpful,helped,unhelped,sum_helped
0,We got this GPS for my husband who is an (OTR)...,5.0,Gotta have GPS!,"[0, 0]",0,0,0
1,The cable is very wobbly and sometimes disconn...,2.0,Cheap proprietary scam,"[0, 0]",0,0,0
2,It does 2A and charges a DEAD Nook in a few ho...,3.0,This is the oem charger you get with the nook hd+,"[0, 0]",0,0,0
3,This adaptor is real easy to setup and use rig...,5.0,A Perfdect Nook HD+ hook up,"[0, 0]",0,0,0
4,This adapter easily connects my Nook HD 7&#34;...,4.0,A nice easy to use accessory.,"[0, 0]",0,0,0

In [10]:
tweets.to_csv('sum_data.csv', index_label="id")
print("save sum_data.csv completed")

save sum_data.csv completed